In [15]:
# Importa as bibliotecas que serão utilizadas

import pandas as pd
import pickle

In [11]:
# Carregando os dados do arquivo .json
with open('dados.pkl', 'rb') as f:
    dados = pickle.load(f)
    
tabelas = pd.read_html(dados.text)

C:\Users\natan\AppData\Local\Temp\ipykernel_19108\314473900.py:5: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tabelas = pd.read_html(dados.text)

In [12]:
classificacao_SA = tabelas[6]
classificacao_SA

,Pos,Equipevde,Pts,J,V,E,D,GP,GC,SG,Classificação ou descenso
0,1,Botafogo,56,27,17,5,5,46,25,+21,Fase de grupos da Copa Libertadores de 2025
1,2,Fortaleza,52,27,15,7,5,36,26,+10,Fase de grupos da Copa Libertadores de 2025
2,3,Palmeiras,50,26,15,5,6,43,19,+24,Fase de grupos da Copa Libertadores de 2025
3,4,Flamengo,45,25,13,6,6,40,29,+11,Fase de grupos da Copa Libertadores de 2025
4,5,São Paulo,44,26,13,5,8,34,26,+8,Segunda fase da Copa Libertadores de 2025
5,6,Bahia,42,27,12,6,9,38,31,+7,Segunda fase da Copa Libertadores de 2025
6,7,Cruzeiro,41,26,12,5,9,34,27,+7,Fase de grupos da Copa Sul-Americana de 2025
7,8,Internacional,38,24,10,8,6,27,20,+7,Fase de grupos da Copa Sul-Americana de 2025
8,9,Vasco da Gama,35,25,10,5,10,30,35,−5,Fase de grupos da Copa Sul-Americana de 2025
9,10,Atlético Mineiro,33,24,8,9,7,32,36,−4,Fase de grupos da Copa Sul-Americana de 2025
10,11,Juventude,32,27,8,8,11,31,37,−6,Fase de grupos da Copa Sul-Americana de 2025
11,12,Red Bull Bragantino,31,25,8,7,10,31,32,−1,Fase de grupos da Copa Sul-Americana de 2025
12,13,Athletico Paranaense,30,24,8,6,10,27,29,−2,NaN
13,14,Grêmio,28,24,8,4,12,25,30,−5,NaN
14,15,Vitória,28,27,8,4,15,29,39,−10,NaN
15,16,Criciúma,28,25,7,7,11,32,40,−8,NaN
16,17,Corinthians,28,27,6,10,11,26,33,−7,Rebaixados à Série B de 2025
17,18,Fluminense,27,26,7,6,13,21,29,−8,Rebaixados à Série B de 2025
18,19,Cuiabá,22,25,5,7,13,23,38,−15,Rebaixados à Série B de 2025
19,20,Atlético Goianiense,18,27,4,6,17,21,45,−24,Rebaixados à Série B de 2025

In [14]:
confrontos_SA = tabelas[7]
confrontos_SA

,Casa \ Fora,ATP,ATG,ATM,BAH,BOT,COR,CRI,CRU,CUI,...,FLU,FOR,GRE,INT,JUV,PAL,RBB,SPA,VAS,VIT
0,Athletico Paranaense,—,NaN,NaN,1–3,NaN,1–1,3–1,NaN,4–0,...,a,1–1,0–2,1–0,1–2,0–2,NaN,1–2,1–0,NaN
1,Atlético Goianiense,1–2,—,NaN,1–1,1–4,2–2,1–2,0–1,NaN,...,NaN,NaN,1–1,1–0,2–1,NaN,NaN,0–3,0–1,0–2
2,Atlético Mineiro,NaN,1–1,—,1–1,a,2–1,1–1,3–0,1–1,...,0–2,1–1,NaN,NaN,NaN,0–4,NaN,2–1,2–0,NaN
3,Bahia,NaN,NaN,3–0,—,0–0,0–1,NaN,4–1,1–2,...,2–1,1–0,1–0,1–1,2–0,NaN,1–0,NaN,2–1,2–0
4,Botafogo,1–1,1–0,3–0,1–2,—,2–1,NaN,0–3,NaN,...,1–0,2–0,a,1–0,5–1,1–0,2–1,a,a,NaN
5,Corinthians,a,3–0,0–0,a,0–1,—,2–1,a,1–1,...,3–0,0–0,2–2,a,1–1,a,1–1,2–2,a,3–2
6,Criciúma,NaN,NaN,2–1,2–2,2–1,NaN,—,1–0,2–5,...,1–1,1–1,0–1,1–1,1–1,1–2,1–0,NaN,2–2,NaN
7,Cruzeiro,2–0,3–1,0–0,NaN,3–2,3–0,NaN,—,2–1,...,2–0,1–2,NaN,0–0,2–0,a,2–1,0–1,a,3–1
8,Cuiabá,1–2,0–0,0–3,NaN,1–2,NaN,2–1,NaN,—,...,0–1,5–0,1–3,0–1,0–0,0–2,1–1,NaN,NaN,0–0
9,Flamengo,NaN,2–0,a,2–1,0–2,2–0,2–1,2–1,1–1,...,a,1–2,2–1,a,NaN,1–1,2–1,2–1,1–1,NaN
10,Fluminense,a,1–2,2–2,1–0,0–1,0–0,NaN,a,NaN,...,—,NaN,a,1–1,1–1,1–0,2–2,2–0,2–1,0–1
11,Fortaleza,1–0,3–1,NaN,4–1,1–1,1–0,1–0,1–1,NaN,...,1–0,—,1–0,NaN,2–1,3–0,1–1,1–0,NaN,3–1
12,Grêmio,2–0,NaN,2–3,0–2,1–2,a,NaN,0–2,1–0,...,1–0,NaN,—,0–1,a,2–2,0–2,a,1–0,2–0
13,Internacional,2–2,1–1,1–2,2–1,NaN,1–0,NaN,1–0,3–0,...,a,2–1,a,—,2–1,1–1,NaN,0–0,1–2,NaN
14,Juventude,1–1,1–0,1–1,NaN,3–2,2–0,1–2,NaN,NaN,...,2–1,NaN,3–0,1–3,—,NaN,NaN,0–0,2–0,1–1
15,Palmeiras,0–2,3–1,NaN,2–0,a,2–0,5–0,2–0,5–0,...,a,NaN,a,0–1,3–1,—,2–1,2–1,2–0,0–2
16,Red Bull Bragantino,1–0,3–1,1–2,2–1,NaN,1–0,NaN,NaN,NaN,...,0–1,1–2,2–2,NaN,2–1,NaN,—,NaN,2–1,2–1
17,São Paulo,a,1–0,NaN,3–1,2–2,a,2–1,2–0,0–1,...,2–1,1–2,1–0,NaN,NaN,0–0,2–0,—,a,2–1
18,Vasco da Gama,2–1,NaN,a,a,1–1,2–0,0–4,0–0,NaN,...,2–0,2–0,2–1,NaN,NaN,a,2–2,4–1,—,2–1
19,Vitória,0–1,0–2,4–2,2–2,0–1,NaN,2–1,2–2,1–0,...,NaN,NaN,NaN,2–1,1–0,0–1,NaN,1–3,0–1,—