### Bibliotecas

In [5]:
import pandas as pd
import requests

### Baixa dados da Web para análise

In [69]:
dados = requests.get("https://pt.wikipedia.org/wiki/Campeonato_Brasileiro_de_Futebol_de_2024_-_S%C3%A9rie_A")
tabelas = pd.read_html(dados.text)
tabela_classificacao = tabelas[6] # Tabela de classificação geral do brasileirão
tabela_confrontos = tabelas[7] # Tabela de confrontos a serem jogados no brasileirão

C:\Users\natan\AppData\Local\Temp\ipykernel_13216\3144841166.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tabelas = pd.read_html(dados.text)

### Trata dados da Web

In [68]:
nomes_times = list(tabela_confrontos['Casa \ Fora'])
tabela_confrontos_tratada = pd.DataFrame(tabela_confrontos.iloc[:, 1:].values, columns=nomes_times)
tabela_confrontos_tratada.index = nomes_times
tabela_confrontos_tratada

<>:1: SyntaxWarning: invalid escape sequence '\ '
<>:1: SyntaxWarning: invalid escape sequence '\ '
C:\Users\natan\AppData\Local\Temp\ipykernel_13216\3134443581.py:1: SyntaxWarning: invalid escape sequence '\ '
  nomes_times = list(tabela_confrontos['Casa \ Fora'])

,Athletico Paranaense,Atlético Goianiense,Atlético Mineiro,Bahia,Botafogo,Corinthians,Criciúma,Cruzeiro,Cuiabá,Flamengo,Fluminense,Fortaleza,Grêmio,Internacional,Juventude,Palmeiras,Red Bull Bragantino,São Paulo,Vasco da Gama,Vitória
Athletico Paranaense,—,NaN,NaN,1–3,0–1,1–1,3–1,3–0,4–0,1–1,a,1–1,0–2,1–0,1–2,0–2,NaN,1–2,1–0,1–2
Atlético Goianiense,1–2,—,1–0,1–1,1–4,2–2,1–2,0–1,0–0,1–2,1–0,NaN,1–1,1–0,2–1,NaN,0–0,0–3,0–1,0–2
Atlético Mineiro,NaN,1–1,—,1–1,a,2–1,1–1,3–0,1–1,2–4,0–2,1–1,2–1,1–3,NaN,0–4,3–0,2–1,2–0,2–2
Bahia,NaN,NaN,3–0,—,0–0,0–1,1–0,4–1,1–2,0–2,2–1,1–0,1–0,1–1,2–0,NaN,1–0,0–3,2–1,2–0
Botafogo,1–1,1–0,3–0,1–2,—,2–1,1–1,0–3,0–0,4–1,1–0,2–0,0–0,1–0,5–1,1–0,2–1,a,3–0,NaN
Corinthians,5–2,3–0,0–0,a,0–1,—,2–1,a,1–1,2–1,3–0,0–0,2–2,2–2,1–1,2–0,1–1,2–2,a,3–2
Criciúma,0–0,2–0,2–1,2–2,2–1,NaN,—,1–0,2–5,NaN,1–1,1–1,0–1,1–1,1–1,1–2,1–0,1–1,2–2,NaN
Cruzeiro,2–0,3–1,0–0,1–1,3–2,3–0,2–1,—,2–1,0–1,2–0,1–2,NaN,0–0,2–0,a,2–1,0–1,1–1,3–1
Cuiabá,1–2,0–0,0–3,NaN,1–2,0–1,2–1,0–0,—,NaN,0–1,5–0,1–3,0–1,0–0,0–2,1–1,2–0,NaN,0–0
Flamengo,1–0,2–0,0–0,2–1,0–2,2–0,2–1,2–1,1–1,—,0–2,1–2,2–1,a,4–2,1–1,2–1,2–1,1–1,NaN
Fluminense,1–0,1–2,2–2,1–0,0–1,0–0,NaN,1–0,NaN,0–1,—,NaN,2–2,1–1,1–1,1–0,2–2,2–0,2–1,0–1
Fortaleza,1–0,3–1,1–1,4–1,1–1,1–0,1–0,1–1,1–0,NaN,1–0,—,1–0,NaN,2–1,3–0,1–1,1–0,3–0,3–1
Grêmio,2–0,3–1,2–3,0–2,1–2,a,1–2,0–2,1–0,3–2,1–0,3–1,—,0–1,a,2–2,0–2,a,1–0,2–0
Internacional,2–2,1–1,1–2,2–1,NaN,1–0,2–0,1–0,3–0,1–1,2–0,2–1,1–0,—,2–1,1–1,NaN,0–0,1–2,3–1
Juventude,1–1,1–0,1–1,2–1,3–2,2–0,1–2,NaN,NaN,2–1,2–1,0–3,3–0,1–3,—,3–5,1–1,0–0,2–0,1–1
Palmeiras,0–2,3–1,2–1,2–0,a,2–0,5–0,2–0,5–0,0–0,a,2–2,1–0,0–1,3–1,—,2–1,2–1,2–0,0–2
Red Bull Bragantino,1–0,3–1,1–2,2–1,0–1,1–0,NaN,NaN,0–0,1–1,0–1,1–2,2–2,2–2,2–1,0–0,—,NaN,2–1,2–1
São Paulo,2–1,1–0,NaN,3–1,2–2,3–1,2–1,2–0,0–1,1–0,2–1,1–2,1–0,1–3,NaN,0–0,2–0,—,3–0,2–1
Vasco da Gama,2–1,NaN,a,3–2,1–1,2–0,0–4,0–0,1–0,1–6,2–0,2–0,2–1,NaN,1–1,0–1,2–2,4–1,—,2–1
Vitória,0–1,0–2,4–2,2–2,0–1,1–2,2–1,2–2,1–0,1–2,2–1,NaN,NaN,2–1,1–0,0–1,1–0,1–3,0–1,—

In [67]:
tabela_confrontos_tratada.columns

Index(['Athletico Paranaense', 'Atlético Goianiense', 'Atlético Mineiro',
       'Bahia', 'Botafogo', 'Corinthians', 'Criciúma', 'Cruzeiro', 'Cuiabá',
       'Flamengo', 'Fluminense', 'Fortaleza', 'Grêmio', 'Internacional',
       'Juventude', 'Palmeiras', 'Red Bull Bragantino', 'São Paulo',
       'Vasco da Gama', 'Vitória'],
      dtype='object')